<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACME</title>
	<link rel="stylesheet" href="../assets/css/acme.css" />
</head>

<body>
	<header>
		<div class="user">LEFORT Max [Administrateur]</div>
	</header>
	<main>
		<div class="category">
			<a href="/">Accueil</a> &gt; Produits
		</div>
		<div id="crud">
			<div class="category">Alpinisme</div>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Référence</th>
						<th>PU</th>
						<th colspan="2"><a href="/product/edit">Ajouter</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="name">Alpina</td>
						<td>210317 729</td>
						<td class="price">1059,90</td>
						<td><a href="/product/edit/1">Modifier</a></td>
						<td><a href="/product/delete/1">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Etna</td>
						<td>210029 309</td>
						<td class="price">297,41</td>
						<td><a href="/product/edit/3">Modifier</a></td>
						<td><a href="/product/delete/3">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Oural</td>
						<td>210050 609</td>
						<td class="price">240,95</td>
						<td><a href="/product/edit/2">Modifier</a></td>
						<td><a href="/product/delete/2">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
			<div class="category">Escalade</div>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Référence</th>
						<th>PU</th>
						<th colspan="2"><a href="/product/edit">Ajouter</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="name">Carla</td>
						<td>430112 303</td>
						<td class="price">180,00</td>
						<td><a href="/product/edit/10">Modifier</a></td>
						<td><a href="/product/delete/10">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Elfie</td>
						<td>430117 990</td>
						<td class="price">125,96</td>
						<td><a href="/product/edit/10">Modifier</a></td>
						<td><a href="/product/delete/10">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Gunte</td>
						<td>430100 972</td>
						<td class="price">116,96</td>
						<td><a href="/product/edit/8">Modifier</a></td>
						<td><a href="/product/delete/8">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
			<div class="category">Randonnée</div>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Référence</th>
						<th>PU</th>
						<th colspan="2"><a href="/product/edit">Ajouter</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="name">Anna</td>
						<td>320960 034</td>
						<td class="price">105,00</td>
						<td><a href="/product/edit/7">Modifier</a></td>
						<td><a href="/product/delete/7">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Dorte</td>
						<td>310914 967</td>
						<td class="price">127,46</td>
						<td><a href="/product/edit/6">Modifier</a></td>
						<td><a href="/product/delete/6">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Pronto</td>
						<td>310551 974</td>
						<td class="price">119,96</td>
						<td><a href="/product/edit/5">Modifier</a></td>
						<td><a href="/product/delete/5">Supprimer</a></td>
					</tr>
					<tr>
						<td class="name">Stefi</td>
						<td>310945 426</td>
						<td class="price">132,90</td>
						<td><a href="/product/edit/4">Modifier</a></td>
						<td><a href="/product/delete/4">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<footer></footer>
</body>

</html>