<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACME</title>
	<link rel="stylesheet" href="../assets/css/acme.css" />
</head>

<body>
	<header>
		<div class="user">LEGRAND Tom [Revendeur]</div>
	</header>
	<main>
		<div class="category">
			<a href="/">Accueil</a> &gt; Historique des commandes
		</div>
		<div id="orders">
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Numéro</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>03-02-2022</td>
						<td>20220203005</td>
						<td class="price">1347,46</td>
					</tr>
					<tr>
						<td>28-01-2022</td>
						<td>20220128002</td>
						<td class="price">503,40</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<footer></footer>
</body>

</html>