<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACME</title>
	<link rel="stylesheet" href="../assets/css/acme.css" />
</head>

<body>
	<header>
		<div class="user">LEGRAND Tom [Revendeur]</div>
	</header>
	<main>
		<div class="category">
			<a href="/user/orders">Commandes</a> &gt; Commande
		</div>
		<div id="basket">
			<table>
				<thead>
					<tr>
						<th colspan="4">Commande 20220203005 du 03-02-2022</th>
					</tr>
					<tr>
						<th>Produit</th>
						<th>PU</th>
						<th>Quant</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="product">Alpina (210317 729) 42M</td>
						<td class="price">1059,90</td>
						<td>2</td>
						<td>2119,80</td>
					</tr>
					<tr>
						<td class="product">Elfie (430117 990) 38S</td>
						<td class="price">125,96</td>
						<td>1</td>
						<td class="price">125,96</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Total prix de vente conseillé</td>
						<td>2245,76</td>
					</tr>
					<tr>
						<td colspan="3">TMC 40%</td>
						<td>898,30</td>
					</tr>
					<tr>
						<td colspan="3">TOTAL</td>
						<td>1347,46</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</main>
	<footer></footer>
</body>

</html>