<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACME</title>
	<link rel="stylesheet" href="../assets/css/acme.css" />
</head>

<body>
	<header></header>
	<main>
		<div class="category">
			<a href="/">Accueil</a> &gt; Changement de mot de passe
		</div>
		<div class="error"></div>
		<form name="form1" action="/user/login" method="POST">
			<div class="item">
				<label>Nouveau mot de passe</label>
				<input type="password" name="pwd" size="10" maxlength="10" required="required" />
			</div>
			<div class="item">
				<label></label>
				<input type="submit" value="Valider" />
			</div>
		</form>
	</main>
	<footer></footer>
</body>

</html>