<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACME</title>
	<link rel="stylesheet" href="/assets/css/acme.css" />
</head>

<body>
	<header>
		<div class="user">LEGRAND Tom [Revendeur]</div>
	</header>
	<main>
		<div class="category">
			<a href="/">Accueil</a> &gt; Profil
		</div>
		<div id="checkout">
			<div class="data">
				<div>Nom :</div>
				<div>LEGRAND</div>
			</div>
			<div class="data">
				<div>Prénom :</div>
				<div>Tom</div>
			</div>
			<div class="data">
				<div>Email :</div>
				<div>tom.legrand@adok.info</div>
			</div>
			<div class="data">
				<div>TMC :</div>
				<div>40%</div>
			</div>
		</div>
	</main>
	<footer></footer>
</body>

</html>